<!DOCTYPE html>
<html>
  <head>
    <title>SsTest</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body style="padding-top: 70px">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class='navbar-header'>
          <div class='navbar-brand'><a href='/'>Todo</a></div>
        </div>
        <div class='navbar-collapse collapse'>
          <ul class="nav navbar-nav">
            <li><a href='/todo_lists'>Lists</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% elsif alert %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
      <% end %>
    </div>

    <div class="container" style="margin-top: 50px;">
      <%= yield %>
    </div>

  </body>
</html>
