<!DOCTYPE html>
<html>
  <head>
    <title>SsTest</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class='navbar-header'>
          <div class='navbar-brand'><a href='/'>Todo</a></div>
        </div>
        <div class='navbar-collapse collapse'>
          <ul class="nav navbar-nav">
            <li><a href='/todo_lists'>Lists</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <%= render "partials/flash" %>
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
